@page "/cliente_alterar/{Id}"
@using CadastroClienteReservaWasm.Helpers;
@using CadastroClienteReservaDll.DOs;
@inject NavigationManager NavigationManager

<PageTitle>Cadastro de clientes</PageTitle>

<h1>Cliente</h1>

@if (obj == null)
{
    <p><em>Carregando...</em></p>
}
else
{
    <EditForm Model="@obj" OnValidSubmit="@Gravar">
    <DataAnnotationsValidator />
    <ValidationSummary />
        <div>
            <div>
                <label class="form-label">Nome</label>
                <input class="form-control" @bind="@obj.Nome" />
                <ValidationMessage For="() => obj.Nome" />
            </div><br>
            <div>
                <label class="form-label">Documento</label>
                <input class="form-control" @bind="@obj.Documento" />
                <ValidationMessage For="() => obj.Documento" />
            </div><br>
            <div>
                <label class="form-label">Telefone</label>
                <input class="form-control" @bind="@obj.Telefone" />
                <ValidationMessage For="() => obj.Telefone" />
            </div><br>
            <div class="mt-2">
                <button class="btn btn-success" type="submit">Gravar</button>
                <a class="ml-1 btn btn-secondary" href="./clientes">Voltar</a>
            </div><br>

            <CadastroClienteReserva IdMestre=@Id />

            <Imagem Entidade="cliente" Id=@Id />
            
        </div>
    </EditForm>
}

@code {
    protected async override Task OnInitializedAsync()
    {        
        obj = await api.RetornarPorIdAsync(Id);
    }

    private AcessoApi<ClienteDO> api = new AcessoApi<ClienteDO>("api/cliente");

    private ClienteDO? obj = null;

    [Parameter]
    public string Id { get; set; } = "";

    private async void Gravar()
    {
        if (obj != null)
        {
            if (await api.AlterarAsync(obj))
            {
                NavigationManager.NavigateTo("clientes");
            }
        }
    }
}